{% extends 'base.html' %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-6 col-12">
        <a href="#" class="btn-dashboard">
            <i class="fa-solid fa-house-medical dashboard-icon"></i>
            <span class="dashboard-label">Cadastrar Criança (Desativado)</span>
        </a>
    </div>

    <div class="col-md-6 col-12">
        <a href="{% url 'calendario_guia' %}" class="btn-dashboard">
            <i class="fa-solid fa-syringe dashboard-icon"></i>
            <span class="dashboard-label">Calendário Vacinal (Guia)</span>
        </a>
    </div>

    <div class="col-md-6 col-12">
        <a href="{% url 'lista_criancas' %}" class="btn-dashboard">
            <i class="fa-solid fa-id-card dashboard-icon"></i>
            <span class="dashboard-label">Cartão de Vacina</span>
        </a>
    </div>

    <div class="col-md-6 col-12">
        <a href="{% url 'censo_demografico' %}" class="btn-dashboard"> <i class="fa-solid fa-users dashboard-icon"></i>
            <span class="dashboard-label">Crianças</span>
        </a>
    </div>

{% if user.is_superuser %}
    
    <div class="col-12 mt-4 mb-2">
        <h5 class="fw-bold border-bottom pb-2" style="color: var(--secondary-blue);">
            <i class="fa-solid fa-user-shield"></i> Área Administrativa
        </h5>
    </div>

    <div class="col-md-6 col-12">
        <a href="{% url 'cadastrar_acs' %}" class="btn-dashboard" style="background-color: var(--secondary-blue); box-shadow: 0 4px 10px rgba(35, 52, 134, 0.3);">
            <i class="fa-solid fa-user-plus dashboard-icon"></i>
            <span class="dashboard-label">Cadastrar Novo ACS</span>
        </a>
    </div>

    <div class="col-md-6 col-12">
        <a href="{% url 'lista_usuarios' %}" class="btn-dashboard" style="background-color: var(--secondary-blue); box-shadow: 0 4px 10px rgba(35, 52, 134, 0.3);">
            <i class="fa-solid fa-users-gear dashboard-icon"></i>
            <span class="dashboard-label">Gerenciar Equipe</span>
        </a>
    </div>

    {% endif %}

</div>
{% endblock %}